<div id="login">Ваш логин: </div>

<table>
    {{#each map}}
        <tr>
            {{#each this}}
                <th><input id="{{@../index}} {{@index}}"
                        type="submit"
                           value="{{this}}"
                           onclick="sendClick({{@../index}}, {{@index}})"/></th>
            {{/each}}
        </tr>
    {{/each}}
</table>

<div id="log"></div>
<br>
<input type="text" id="input" autofocus><input type="submit" id="send" value="Send">
